.bigbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -69%);
    height: 350px;
    min-width: 300px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.img {
    height: 80px;
    width: 80px;
    background-image: url(assets/images/icon-thank-you.svg);
}

h1 {
    color: hsl(213, 96%, 18%);
    font-size: 1.5rem;
} 

p {
    color: hsl(231, 11%, 63%);
    font-size: 0.8rem;
    text-align: center;
} 
