<div class="bigbox">
    <h1>Select your plan</h1>
    <p>You have the option of monthly or yearly billing.</p><br>
    <div class="box">
        <div class="littlebox">
            <div class="img1"></div>
            <div>
                <h2>Arcade</h2>
                <p [ngClass]="{'disapear': write}">${{arcadeMonth}}/mo</p>
                <p class=invisible [ngClass]="{'visible': write}">${{arcadeYear}}/yr<br></p>
                <p class=invisible [ngClass]="{'visible': write}"><span>2 months free</span></p>
            </div>
        </div>
        <div class="littlebox">
            <div class="img2"></div>
            <div>
                <h2>Advanced</h2>
                <p [ngClass]="{'disapear': write}">${{advancedMonth}}/mo</p>
                <p class=invisible [ngClass]="{'visible': write}">${{advancedYear}}/yr<br></p>
                <p class=invisible [ngClass]="{'visible': write}"><span>2 months free</span></p>
            </div>
        </div>
        <div class="littlebox">
            <div class="img3"></div>
            <div>
                <h2>Pro</h2>
                <p [ngClass]="{'disapear': write}">${{proMonth}}/mo</p>
                <p class=invisible [ngClass]="{'visible': write}">${{proYear}}/yr<br></p>
                <p class=invisible [ngClass]="{'visible': write}"><span>2 months free</span></p>
            </div>
        </div>
        <div class="monthyear">
            <p class="month" [ngClass]="{'greyColor':selected}">Monthly</p>
            <input type="checkbox" id="toggle" class="checkbox">
            <label for="toggle" (click)="oppose()" (click)="contents()"></label>
            <p class="year" [ngClass]="{'blueColor':selected}">Yearly</p>
        </div>
    </div>
</div>